body {
  background-color: #B1D0E0;
}

hr {
  border-style: dotted none none;
  border-top-color: #EAF6F6;
  border-top-width: 10px;
  content: none;
  width: 10%;
  margin: 100px auto;
}

h1 {
  color: #3E8E7E;
}

h3 {
  color: #66BFBF;
}
